@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    /* Define the keyframe animation for a smooth entry */
    @keyframes message-enter {
      from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    /* Apply the animation class */
    .animate-message-enter {
      animation: message-enter 0.3s ease-out;
    }
}

*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}